$accent-color: #2196f3;
$btn-color: #ffffff;
$input-color: #777777;
$btn-hover-bgcolor: #188ce8;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  background-color: #e5e8e9;
  background-size: cover;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.search-form__input {
  margin-right: 30px;
  width: 500px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  height: 50px;
}

.search-form__input:focus {
  outline-color: $accent-color;
}

.search-form__input::placeholder {
  color: $input-color;
}

.btn {
  min-width: 200px;
  height: 50px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $btn-color;
}

.btn:hover,
.btn:focus {
  background-color: $btn-hover-bgcolor;
  cursor: pointer;
  outline-color: $accent-color;
}

.load-more {
  margin-top: 20px;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.photo-card {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-card__item {
  display: flex;
  flex-direction: column;

  margin: 15px;
  width: calc((100% - 8 * 15px) / 4);
  border-radius: 10px;
  overflow: hidden;
}
.photo-image__wrapper {
  overflow: hidden;
}

.photo-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 15vw;
  transition: transform linear 250ms;
}

.photo-image:hover {
  cursor: zoom-in;
  transform: scale(1.1);
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
}

.stats-item:not(:last-child) {
  margin-right: 20px;
}

.material-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: $accent-color;
}
///
.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}

.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}

.pro {
  margin: 40px auto 10px auto;
  position: fixed;
  top: 15%;
  left: 48%;
  width: 38px;
  height: 100px;
  transform: rotate(180deg);
}
.pro span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #337ab7;
  border-right: 5px solid #337ab7;
  transform: rotate(45deg);
  margin: -16px 0;
  animation: pro 2s infinite;
}
.pro span:nth-child(2) {
  animation-delay: -0.2s;
}
.pro span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes pro {
  0% {
    opacity: 0;
    transform: translate(0, -20px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 20px) rotate(45deg);
  }
}
